<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-4.0.xsd
  http://www.springframework.org/schema/data/jpa
  http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

  <context:annotation-config/>

  <context:spring-configured/>

  <context:component-scan base-package="info.cukes"/>

  <!--<context:load-time-weaver/>-->

  <jpa:repositories base-package="info.cukes"/>

  <!--<jpa:repositories base-package="info.cukes"
    factory-class="org.springframework.data.envers.repository.support.EnversRevisionRepositoryFactoryBean" />-->

  <import resource="persistenceContext.xml"/>

</beans>
